on:
  push:
    paths:
      - '**.Rmd'
      - '.github/workflows/*'
  schedule:
    # daily in the morning for America/New_York (hours in UTC)
    - cron: '12 0 * * *'
  repository_dispatch:
    # for use with peter-evans/repository_dispatch@v1
    types: ['status-update']

name: Render Status

jobs:
  render:
    name: Render Status
    runs-on: ubuntu-18.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2 # This is important to set for `git diff-tree` to work below
      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: '4.0.3'
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install system dependencies
        run: |
          sudo apt-get install -y libcurl4-openssl-dev
      - name: Install dependencies
        run: |
          install.packages("pak", repos = "https://r-lib.github.io/p/pak/dev/")
          options(repos = c(REPO_NAME = "https://packagemanager.rstudio.com/all/__linux__/bionic/latest"))
          pak::pkg_install(c("rmarkdown", "gh", "memoise", "purrr", "dplyr", "tidyr", "glue", "readr"))
        shell: Rscript {0}
      - name: Render Status Page
        run: |
          RMD_PATH=$(ls -r *.Rmd)
          Rscript -e 'for (file in commandArgs(TRUE)) rmarkdown::render(file)' ${RMD_PATH[*]}
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git commit --all -m 'Re-build status page' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
